/* font-family: 'Raleway', sans-serif;
font-family: 'Red Hat Text', sans-serif; */
body{
  background-color: #E5E5E5;
}
p{
    font-family: 'Red Hat Text', sans-serif;
}
h4{
  font-family: 'Raleway', sans-serif;
  color: #F86930;
}
#head{
background: #F15A60;
padding-top: 10%;
}
#head img{
  width: 50%;
  margin-left: 25%;
}
#head p{
  text-align: center;
  padding-bottom:10%;
  color: white;
  font-size:100%;
}
h1{
   font-family: 'Raleway', sans-serif;
   color: #E23CBF;
   text-align: center;
   padding-top: 5%;
   padding-bottom: 5%;
   line-height: 90px;
}
a{
  font-family: 'Raleway', sans-serif;
  color: white;
}
.purple{
  width: 70%;
}
.orange{
  margin-left:5%;
}

.content{
  margin-left: 20%;
}
.button{
  border-radius: 10px;
}
#contact h1{
  padding: 0%;
}
#contact p{
  text-align: center;
}

footer{
  background-color: #F15A60;
}
footer i{
  text-align: center;
  font-size: 200%;
  margin-left: 28%
}
.envelope{
  margin-left:5%;
}

.iframe{
  align-items: center;
}
 @media (max-width: 600px){
   #head p{
    visibility: hidden;
   }
   .content{
     margin: 1% 1% 1% 1%;
   }
   .content button{
     margin-left: 35%;
     margin-bottom: 5%;
   }
   .purple{
     width: 90%;
     padding-bottom: 15%;
   }
   footer i{
     margin-left: 17%;

   }
   
 }
